<div class="pagenavbar">
    <div class="pagenavi" data-posts="">
            <span class="page-numbers">
                    <a href="http://localhost/lpmp/post/page/" class="page-numbers" data-ci-pagination-page="1" rel="prev"><<</a><span class="page-numbers"><a href="http://localhost/lpmp/post/page/" class="page-numbers" data-ci-pagination-page="1" rel="start">1</a></span><span class="page-numbers current">2<span class="sr-only">(current)</span></span><span class="page-numbers"><a href="http://localhost/lpmp/post/page/3" class="page-numbers" data-ci-pagination-page="3">3</a></span><span class="page-numbers"><a href="http://localhost/lpmp/post/page/4" class="page-numbers" data-ci-pagination-page="4">4</a></span><span class="page-numbers"><a href="http://localhost/lpmp/post/page/3" class="page-numbers" data-ci-pagination-page="3" rel="next">>></a><span class="page-numbers"><a href="http://localhost/lpmp/post/page/76" class="page-numbers" data-ci-pagination-page="76">></a>
    </div>
</div>



    <div class='pagenavbar'>
        <div class='pagenavi' data-posts=''>
            <a class='page-numbers' href='halaman-berita-1.html'> << </a>
            <a class='page-numbers' href=index.php?module=halaman-berita-1.html> < </a> 
            <a class='page-numbers' href='halaman-berita-1.html'>1</a>
            
            <span class='page-numbers current'>2</span><a href='halaman-berita-3.html' class='page-numbers'>3</a><a href='halaman-berita-4.html' class='page-numbers'>4</a> 
            
            <a href='halaman-berita-9.html' class='page-numbers'>9</a>
            <a href='halaman-berita-3.html' class='page-numbers' > > </a>
<a href='halaman-berita-9.html' class='page-numbers'> >> </a></div></div>